
<br/>

<img style=" width: 200px"src="{{entry.image[0].url}}">
<br/>
<br/>
<h2>GENERAL INFORMATION</h2>
<h3> <strong>Name:</strong> {{entry.title}}</h3>
<br/>
<h3><strong>Session Date:</strong> {{entry.sessionDate}}</h3>
<br/>
<h3><strong>Phone:</strong> {{entry.phone}}</h3>

<br/>

<h3><strong>Emergency Phone:</strong> {{entry.emergencyPhone}}</h3>

<br/>

<h3><strong>Email:</strong> {{ entry.email}}</h3>

<br/>

<h3><strong>Address: </strong>
<br/>
{{entry.streetAddress1}}
<br/>
{% if entry.streetAddress2 %}
{{entry.streetAddress2}}
{% endif %}
<br/>
{{entry.city}}, {{entry.state}}  {{entry.postalCode}}</h3>
<br/>
_______________________________________________________
<br/>
<h2>PERSONAL INFORMATION</h2>
<br/>
<h3><strong>Payment Method:</strong> {{entry.paymentMethod}}</h3>
<br/>
<h3><strong>Food Allergies:</strong> {{ entry.foodAllergies}}</h3>
<br/>
<h3><strong>Medical Conditions:</strong> {{entry.medicalConditions}}</h3>
<br/>
<h3><strong>Medications:</strong> {{entry.medications}}</h3>
<br/>
<h3><strong>Instrument:</strong> {{entry.instrument}} </h3>
<br/>

<br/>