
<br/>

<img style=" width: 200px"src="{{entry.image[0].url}}">
<br/>
<br/>
<h2>GENERAL INFORMATION</h2>
<p> <strong>Name:</strong> {{entry.title}}</p>
<br/>
<p><strong>Session Date:</strong> {{entry.sessionDate}}</p>
<br/>

<p><strong>Payment Method:</strong> {{entry.paymentMethod}}</p>
<br/>
<p><strong>Phone:</strong> {{entry.phone}}</p>

<br/>

<p><strong>Emergency Phone:</strong> {{entry.emergencyPhone}}</p>

<br/>

<p><strong>Email:</strong> {{ entry.email}}</p>

<br/> 19

<p><strong>Address: </strong>
<br/>
{{entry.streetAddress1}}
<br/>
{% if entry.streetAddress2 %}
{{entry.streetAddress2}}
{% endif %}
<br/>
{{entry.city}}, {{entry.state}}  {{entry.postalCode}}</p>
<br/>
_______________________________________________________
<br/>
<h2>PERSONAL INFORMATION</h2>

<br/>
<p><strong>Food Allergies:</strong> {{ entry.foodAllergies}}</p>
<br/>
<p><strong>Medical Conditions:</strong> {{entry.medicalConditions}}</p>
<br/>
<p><strong>Medications:</strong> {{entry.medications}}</p>
<br/>
<p><strong>Travel/Hotel Info:</strong> {{entry.travelHotelInformation}} </p>
<br/>
<p><strong>Doublt Room:</strong> {{entry.doubleRoom}} </p>
<br/>
<p><strong>Questions/Concerns:</strong> {{entry.questionsConcerns}} </p>
<br/>