
<br/>

<img style=" width: 200px"src="{{entry.image[0].url}}">
<br/>
<br/>
<h2>GENERAL INFORMATION</h2>
<h5> <strong>Name:</strong> {{entry.title}}</h5>
<br/>
<h5><strong>Session Date:</strong> {{entry.sessionDate}}</h5>
<br/>

<h5><strong>Payment Method:</strong> {{entry.paymentMethod}}</h5>
<br/>
<h5><strong>Phone:</strong> {{entry.phone}}</h5>

<br/>

<h5><strong>Emergency Phone:</strong> {{entry.emergencyPhone}}</h5>

<br/>

<h5><strong>Email:</strong> {{ entry.email}}</h5>

<br/> 19

<h5><strong>Address: </strong>
<br/>
{{entry.streetAddress1}}
<br/>
{% if entry.streetAddress2 %}
{{entry.streetAddress2}}
{% endif %}
<br/>
{{entry.city}}, {{entry.state}}  {{entry.postalCode}}</h5>
<br/>
_______________________________________________________
<br/>
<h2>PERSONAL INFORMATION</h2>

<br/>
<h5><strong>Food Allergies:</strong> {{ entry.foodAllergies}}</h5>
<br/>
<h5><strong>Medical Conditions:</strong> {{entry.medicalConditions}}</h5>
<br/>
<h5><strong>Medications:</strong> {{entry.medications}}</h5>
<br/>
<h5><strong>Travel/Hotel Info:</strong> {{entry.travelHotelInformation}} </h5>
<br/>
<h5><strong>Doublt Room:</strong> {{entry.doubleRoom}} </h5>
<br/>
<h5><strong>Questions/Concerns:</strong> {{entry.questionsConcerns}} </h5>
<br/>