<h1> Application for the Dar Williams Retreat </h1>
 <br/>
 <br/>
  <br/>
   <br/>

<strong> Name:</strong>  {{ entry.title }} <br/>
<strong>Email:</strong> {{ entry.email }} <br/>
<strong>Phone:</strong> {{entry.phone }} <br/>
<strong>Session Date:</strong> {{ entry.sessionDate.label }} <br/>
<strong>Returning Member?:</strong> {{entry.returningToRetreat}}<br/>
<strong>Statement:</strong> {{entry.body}} <br/>
{% set assets = entry.audio %}
{% if assets | length %}
    {% for asset in assets %}
   <strong> audio: </strong>   {{ asset.url }} <br/>
    {% endfor %}
{% endif %}
{% set assets = entry.lyrics %}
{% if assets | length %}
    {% for asset in assets %}
   <strong> lyrics: </strong>   {{ asset.url }}
    {% endfor %}
{% endif %}